/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  max-width: 800px;
  margin: 0 auto;
}

.Result-image {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.Text-container {
  margin-bottom: 20px;
}

.Intro-text {
  font-size: 1.5em;
}

.Description-text {
  font-size: 1.2em;
  color: #61dafb;
}

.Highlighted {
  color: #61dafb;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  margin-top: 20px;
}

